<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="starBean" class="instantiation.Starfactory" factory-method="getStar"/>

    <bean id="gunfactory" class="instantiation.Gunfactory"/>
    <bean id="gunbean" factory-bean="gunfactory" factory-method="get"/>
    <bean id="vip" class="instantiation.Vipfactorybean"/>
    <bean id="dateFactoryBean" class="instantiation.DateFactoryBean">
        <property name="strdate" value="2003-05-25"/>
    </bean>
    <bean id="student" class="instantiation.Student">
        <property name="birth" ref="dateFactoryBean"/>
    </bean>
</beans>